<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="main">
        <h1>Student managemet system</h1>
        <ul class="student-list">
            {% for i in student %}
            <li>
                <strong>{{ i.name }}</strong>
                <span>📞 {{ i.phone }}</span>
                <span>📧 {{ i.email }}</span>
                <span>🆔 Roll: {{ i.roll }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>